/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-family: 'Noto Sans';
  font-size: 1.6rem;
  /* 10px * 1.6 = 16px */
}
.block {
  background: #FFDB4C;
  padding: 20px;
  color: #000;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.bold_uppercase {
  font-weight: 700;
  text-transform: uppercase;
}
.line {
  border-top: 1px solid #EAEFF5;
}
.logo {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 40px;
}
@media (min-width: 992px) {
  .logo {
    padding-top: 30px;
  }
}
.logo__name {
  font-size: 33px;
  letter-spacing: 5px;
  line-height: 1.5;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .logo__name {
    font-size: 38px;
    letter-spacing: 7px;
  }
}
.logo__slogan {
  font-size: 14px;
  letter-spacing: 7px;
  line-height: 2;
  color: #a1bbd9;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .logo__slogan {
    font-size: 16px;
    letter-spacing: 9px;
  }
}
.navigation {
  background-color: #38383a;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  letter-spacing: 3px;
  text-align: left;
  box-shadow: 0px 5px 10px 0px #2a496d;
  font-weight: 700;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
@media only screen and (min-width: 992px) {
  .navigation {
    position: relative;
    z-index: 1;
  }
}
.navigation ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
  background-color: #35577d;
}
.navigation ul li {
  display: block;
  text-align: left;
  border-bottom: 1px solid #466a92;
  font-size: 14px;
  position: relative;
}
@media only screen and (min-width: 992px) {
  .navigation ul li {
    display: inline-block;
    border-bottom: none;
  }
}
.navigation ul li.active {
  color: #ffcc00;
}
@media only screen and (min-width: 992px) {
  .navigation ul {
    display: flex;
    justify-content: space-between;
    background: none;
  }
}
.navigation a {
  color: #FFF;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
}
@media only screen and (min-width: 992px) {
  .navigation a {
    display: inline-block;
    padding: 20px 0;
  }
}
.navigation a:hover,
.navigation a:focus,
.navigation a:active,
.navigation a.active {
  color: #ffcc00;
}
.navigation__toggle-button {
  display: block;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px #2a496d;
}
.navigation__toggle-button:focus,
.navigation__toggle-button:active,
.navigation__toggle-button:hover {
  background-color: #16385F;
}
.navigation__toggle-button::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: #16385F;
  position: absolute;
  right: 5px;
  top: 20px;
  background: url("../img/icons/navigation-icon.png");
  background-repeat: no-repeat;
}
@media only screen and (min-width: 992px) {
  .navigation__toggle-button {
    display: none;
  }
}
.navigation__toggle-button--active {
  background-color: #16385F;
}
.container--no-padding {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .container--no-padding {
    padding-left: 15px;
    padding-right: 15px;
    width: 970px;
  }
}
@media only screen and (min-width: 1200px) {
  .container--no-padding {
    width: 1170px;
  }
}
.slider {
  background-color: #1d62f0;
  background-image: url("../img/bg/slider-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding: 70px 0;
  box-shadow: 0px 3px 25px 0px #688ab3;
}
@media only screen and (min-width: 992px) {
  .slider {
    padding: 105px 0;
  }
}
.slider__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.5px;
  color: #FFF;
  text-align: center;
  margin-bottom: 15px;
}
@media only screen and (min-width: 992px) {
  .slider__title {
    font-size: 32px;
    line-height: 42px;
  }
}
.slider__description {
  font-family: 'Noto Serif';
  font-size: 18px;
  line-height: 28px;
  color: #CDDFE0;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .slider__description {
    font-size: 22px;
    line-height: 32px;
  }
}
/*
*   Owl Carousel Owl Demo Theme 
* v1.3.3
*/
.top-slider-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}
/* Styling Next and Prev buttons */
.owl-nav {
  display: none;
}
@media only screen and (min-width: 768px) {
  .owl-nav {
    display: block;
  }
}
.owl-prev,
.owl-next {
  position: absolute;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: left top;
  top: 50%;
  margin-top: -36px;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
}
.owl-prev:hover,
.owl-next:hover,
.owl-prev:focus,
.owl-next:focus,
.owl-prev:active,
.owl-next:active {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
}
.owl-prev.disabled,
.owl-next.disabled,
.owl-prev.disabled:hover,
.owl-next.disabled:hover,
.owl-prev.disabled:focus,
.owl-next.disabled:focus,
.owl-prev.disabled:active,
.owl-next.disabled:active {
  filter: alpha(opacity=0);
  /*IE7 fix*/
  opacity: 0;
  cursor: default;
}
.owl-prev {
  left: 0;
  background-image: url("../img/icons/arrow-left.png");
}
.owl-next {
  right: 0;
  background-image: url("../img/icons/arrow-right.png");
}
/* Styling Pagination*/
.owl-dots {
  position: absolute;
  bottom: -62px;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .owl-dots {
    display: none;
  }
}
.owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}
.owl-dot span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}
.owl-dot.active span,
.owl-dot:hover span,
.owl-dot:focus span,
.owl-dot:active span {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
}
/* If PaginationNumbers is true */
.top-slider-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center;
}
.work-header {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -1px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #333;
}
@media only screen and (min-width: 992px) {
  .work-header {
    font-size: 38px;
    line-height: 48px;
    margin-top: 65px;
    margin-bottom: 50px;
  }
}
.work-property {
  text-align: center;
  padding-bottom: 40px;
}
.work-property__img {
  margin-bottom: 25px;
  height: 115px;
}
.work-property__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 10px;
  color: #333;
}
@media only screen and (min-width: 992px) {
  .work-property__title {
    font-size: 22px;
    line-height: 29px;
  }
}
.work-property__description {
  font-size: 14px;
  line-height: 24px;
  color: #777;
  width: 260px;
  margin: auto;
}
.service {
  padding-top: 0;
}
@media only screen and (min-width: 768px) {
  .service {
    padding-top: 40px;
  }
}
.service-img {
  margin-top: 40px;
  margin-bottom: 10px;
}
.service-info {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .service-info {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .service-info {
    margin-top: 66px;
  }
}
.service-info__number {
  background-color: #fac40a;
  width: 26px;
  height: 26px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  left: -13px;
  padding-left: 8px;
  top: -40px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  color: #FFF;
}
@media only screen and (min-width: 1200px) {
  .service-info__number {
    top: -26px;
    left: -26px;
  }
}
.service-info__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -1px;
  color: #333;
}
@media only screen and (min-width: 1200px) {
  .service-info__title {
    font-size: 38px;
    line-height: 48px;
  }
}
.service-info__text {
  font-size: 14px;
  line-height: 24px;
  color: #777;
}
.service-info__text p {
  padding: 10px 0;
}
.service-info__button {
  background-image: url("../img/icons/arrow-orange.png");
  background-position: left top;
  background-repeat: no-repeat;
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 50px;
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
}
.service-info__button:hover,
.service-info__button:focus,
.service-info__button:active {
  filter: alpha(opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
}
#prices {
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  #prices {
    margin-bottom: 90px;
  }
}
.prices_header {
  text-align: center;
  width: 280px;
  margin: 40px auto;
}
.prices_header h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -1px;
  color: #333;
  margin-bottom: 15px;
}
.prices_header p {
  font-size: 14px;
  line-height: 24px;
  color: #777;
}
@media only screen and (min-width: 1200px) {
  .prices_header {
    width: 450px;
    margin-top: 70px;
  }
  .prices_header h2 {
    font-size: 38px;
    margin-bottom: 25px;
  }
}
.price_info {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0px 10px 40px rgba(63, 75, 89, 0.3);
  text-align: center;
  padding-top: 35px;
  padding-bottom: 47px;
  color: #242526;
  margin-bottom: 40px;
}
.price_info--no-margin-bottom {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0px 10px 40px rgba(63, 75, 89, 0.3);
  text-align: center;
  padding-top: 35px;
  padding-bottom: 47px;
  color: #242526;
  margin-bottom: 40px;
  margin-bottom: 0;
}
.price_info__name {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.price_info__price {
  font-weight: 700;
  font-size: 48px;
  line-height: 22px;
  margin-bottom: 26px;
}
.price_info__price::after {
  content: "c";
  font-weight: normal;
  font-family: 'als_rublregular';
}
.price_info__period {
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 1.5px;
  margin: 0;
}
.price_info__benefits {
  margin: 30px auto;
  list-style-type: none;
  font-size: 14px;
  line-height: 30px;
}
.price_info__benefits li::before {
  content: "";
  width: 12px;
  height: 8px;
  background-image: url("../img/icons/ok-icon.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  display: inline-block;
  margin-right: 10px;
}
.price_info__button {
  -webkit-border-radius: 25px;
  border-radius: 25px;
  box-shadow: 0px 8px 16px 0px #ababab;
  background-color: #252525;
  text-align: center;
  display: inline-block;
  line-height: 43px;
  width: 150px;
  height: 43px;
  color: #FFF;
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
}
.price_info__button:hover,
.price_info__button:focus,
.price_info__button:active {
  text-decoration: none;
  background-color: #FFC80A;
  color: #fff;
}
.price_info__button--try {
  background-color: #FFC80A;
  width: 175px;
  letter-spacing: 2px;
}
.price_info__button--try:hover,
.price_info__button--try:focus,
.price_info__button--try:active {
  background-color: #252525;
}
.footer {
  background-color: #252525;
}
.footer-menu {
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer-menu__titel {
  color: #f7f8f9;
  font-size: 12px;
  line-height: 57.2px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-menu__list li,
.footer-menu__list a {
  color: #6C6C6C;
  font-size: 14px;
  line-height: 36px;
}
.footer-menu__list a:hover,
.footer-menu__list a:focus,
.footer-menu__list a:active {
  color: #6C6C6C;
  text-decoration: underline;
}
.footer__copy {
  font-size: 14px;
  line-height: 22px;
  color: #6C6C6C;
  margin-bottom: 82px;
  width: 160px;
}
@media only screen and (min-width: 768px) {
  .footer__copy {
    margin-top: 10px;
    line-height: 35px;
    width: 100%;
  }
}
